@use 'sass:math';

/**
  Common
 */
@function round($number, $decimals: 0) {
  $n: 1;
  @if $decimals > 0 {
    @for $i from 1 through $decimals {
      $n: $n * 10;
    }
  }
  @return math.div(math.round($number * $n), $n);
}

@function px-to-rem($px) {
  $rems: math.div($px, 16px) * 1rem;
  @return $rems;
}


/**
  Colors
 */
@function hexToHslValues($color, $round: true) {
  @if $round == true {
    @return math.round(hue($color)) math.round(saturation($color)) math.round(lightness($color));
  }
  @return hue($color) saturation($color) lightness($color);
}


/**
  Typography
 */

// Fluid typography
// https://www.smashingmagazine.com/2022/10/fluid-typography-clamp-sass-functions/

$default-min-bp: 640px;
$default-max-bp: 1536px;

@function fluid($min-size, $max-size, $min-breakpoint: $default-min-bp, $max-breakpoint: $default-max-bp, $unit: vw) {
  $slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
  $slope-to-unit: round($slope * 100, 2);
  $intercept-rem: round(px-to-rem($min-size - $slope * $min-breakpoint), 2);
  $min-size-rem: round(px-to-rem($min-size), 2);
  $max-size-rem: round(px-to-rem($max-size), 2);
  @return clamp(#{$min-size-rem}, #{$slope-to-unit}#{$unit} + #{$intercept-rem}, #{$max-size-rem});
}
